
<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead"></p>
          </div>
        </div>
      </div>
      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="containers">Containers</h1>
            </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-light">
                <h2 class="card-title text-center"><span id="store_name">★★Cafe</span></h2> 
              </div>
            </div>
          </div>
        </div>

        <div class="bs-docs-section">

          <div class="row">
            <div class="col-lg-12">
  
              <div class="bs-component">
                <table class="table table-hover">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">메뉴</th>
                      <th scope="col"></th>
                      <th scope="col">수량</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(data != null && data.length > 0){ %>
                      
                      <% for ( var i = 0; i < data.length; i++){ %>
                        <tr>
                          <td><%=data[i].name%></td>
                          <td></td>
                          <td>
                            <div><%=data[i].count%></div>
                          </td>
                        </tr>
                      <% } %>
                    <% } %>
                     
                   
                    
                   
                  </tbody>
                <tfoot>
                  <tr class="table-primary">
                    <td scope="row"></td>
                    <td></td>
                    <td  class="align-right">
                      <button id="useBtn" type="button" class="btn btn-warning">사용하기</button>
                    </td>
                  </tr>
                </tfoot>
                </table> 
              </div><!-- /example -->
            </div>
          </div>
        </div>

        <%- include('footer') %>

      </footer>

    </div>
    <div style="display:none" id="gifticon_key"><%=gifticon_key%></div>
    <div style="display:none" id="price"><%=price%></div>

    <script type="text/javascript" src="http://localhost:3000/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/js/instascan.min.js"></script>
<script>

$("#useBtn").click(function() {
      var price = document.getElementById("price").textContent;
      var gifticon_key = document.getElementById("gifticon_key").textContent;

      var confirm_msg = "기프티콘을 사용하시겠습니까?";
      var confirmflag = confirm(confirm_msg);
      
      if(confirmflag){
        $.ajax({
          url: "/payment",
          type: 'POST',
          data: {
            step : "use",
            tran_amt : price,
            //여기서는 사업자가 user
            user_key : "5"
          },
          success: function(result) {
            if(result.rsp_code=="A0000"){
              alert("기프티콘이 사용되었습니다!");

              $.ajax({
                url: "/qrcode/use",
                type: 'POST',
                data: {
                  gifticon_key: gifticon_key
                },
                success: function(result) {
                  if(result==1){
                    window.location.href="http://localhost:3000/qrcode/scan";
                  }
                }
              })
            }
          }
        })
      }
    })

</script>

  </body>
</html>
