
<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead"></p>
          </div>
        </div>
      </div>
      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="containers">Containers</h1>
            </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-light">
                <h2 class="card-title text-center">★★Cafe</h2> 
              </div>
            </div>
          </div>
        </div>

        <div class="bs-docs-section">

          <div class="row">
            <div class="col-lg-12">
  
              <div class="bs-component">
                <table class="table table-hover">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">메뉴</th>
                      <th scope="col">가격</th>
                      <th scope="col">수량</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(data != null && data.length > 0){ %>
                      
                      <% for ( var i = 0; i < data.length; i++){ %>
                        <tr>
                          <td><%=data[i].name%></td>
                          <td class="price"><%=data[i].price%></td>
                          <td>
                            <div style="display:none"><%=data[i].menu_key%></div>
                            <input type="text" size="3" value="0"></input>
                            <button  type="button" class="btn btn-primary plusbtn">+</button>
                            <button type="button" class="btn btn-primary minusbtn">-</button>
                          </td>
                        </tr>
                      <% } %>
                    <% } %>
                     
                   
                    
                   
                  </tbody>
                <tfoot>
                  <tr class="table-primary">
                    <td scope="row">총 금액</td>
                    <td>  </td>
                    <td  class="align-right"><span id="total">0</span>원
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button id="buyBtn" type="button" class="btn btn-warning">구매하기</button>
                    </td>
                  </tr>
                </tfoot>
                </table> 
              </div><!-- /example -->
            </div>
          </div>
        </div>

        <%- include('footer') %>

      </footer>

    </div>
    <div style="display:none" id="store_key"><%=data[0].store_key%></div>
<!-- JQuery library file. requared all pages -->
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  var totalprice=0;
  total=document.querySelector("#total");
  console.log(total.innerText);
  const itemlist=[];//menu_key 랑 count
$(".plusbtn").click(function(){
        
        const btn =event.target; //event.target 이벤트를 발생시킨 애
        const price =btn.parentNode.parentNode.querySelector(".price").innerText;
        
        totalprice+=Number(price);
       
        total.innerText=totalprice;
        const count=btn.parentNode.querySelector("input").value;
        
        btn.parentNode.querySelector("input").value=Number(count)+1;
        
        const menu_key=btn.parentNode.querySelector("div").textContent;
        if (itemlist.length==0){
          const menu={
                menu_key:menu_key,
                count: 1
              };
              itemlist.push(menu);

        }
        else{
          itemlist.forEach((item) => {
            if(item.menu_key==menu_key){

              item.count++;
            }
            else{
              const menu={
                menu_key:menu_key,
                count: 1
              };
              itemlist.push(menu);
            }
          });
       }
        console.log("itemlist",itemlist)
})

$(".minusbtn").click(function(){
        
        const btn =event.target; //event.target 이벤트를 발생시킨 애
         const price =btn.parentNode.parentNode.querySelector(".price").innerText;
         totalprice-=Number(price);
         total.innerText=totalprice;
        const count=btn.parentNode.querySelector("input").value;
        
        btn.parentNode.querySelector("input").value=Number(count)-1;

        
        const menu_key=btn.parentNode.querySelector("div").textContent;
        
          itemlist.forEach((item) => {
            if(item.menu_key==menu_key){

              item.count--;
            }
            
          });
       
        console.log("itemlist",itemlist)
})

$("#buyBtn").click(function() {
      //var inputData=$("#inputData").val(); 
    
      var priceData=total.innerText;
      var store_key=document.getElementById("store_key").textContent;
      console.log(priceData);
      console.log(store_key);
      console.log(JSON.stringify(itemlist));

      $.ajax({

        //결제 요청
        url: "/payment",
        type: 'POST',
        data: {
          price : priceData,
          store_key : store_key,
          user_key : "7",
          item_list : JSON.stringify(itemlist),
        },
        //성공시 기프티콘 페이지로 이동 
        success: function(result) {
            alert(result);
            window.location.href=`/qrcode?gitfticon_key=${result}`;
        }
      });
    })

</script>

  </body>
</html>
