
<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead"></p>
          </div>
        </div>
      </div>
      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="containers">Containers</h1>
            </div>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-light">
                <h2 class="card-title text-center"><span id="store_name">★★<%=data[0].cafename%>★★</span></h2> 
              </div>
            </div>
          </div>
        </div>

        <div class="bs-docs-section">

          <div class="row">
            <div class="col-lg-12">
  
              <div class="bs-component">
                <table class="table table-hover">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">메뉴</th>
                      <th scope="col">가격</th>
                      <th scope="col">수량</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(data != null && data.length > 0){ %>
                      
                      <% for ( var i = 0; i < data.length; i++){ %>
                        <tr>
                          <td><%=data[i].name%></td>
                          <td class="price"><%=data[i].price%></td>
                          <td>
                            <div style="display:none"><%=data[i].menu_key%></div>
                            <input type="text" size="3" value="0"></input>
                            <button  type="button" class="btn btn-primary plusbtn">+</button>
                            <button type="button" class="btn btn-primary minusbtn">-</button>
                          </td>
                        </tr>
                      <% } %>
                    <% } %>
                     
                   
                    
                   
                  </tbody>
                <tfoot>
                  <tr class="table-primary">
                    <td scope="row">총 금액</td>
                    <td>  </td>
                    <td  class="align-right"><span id="total">0</span>원
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button id="buyBtn" type="button" class="btn btn-warning">구매하기</button>
                    </td>
                  </tr>
                </tfoot>
                </table> 
              </div><!-- /example -->
            </div>
          </div>
        </div>

        <%- include('footer') %>

      </footer>

    </div>
    <div style="display:none" id="store_key"><%=data[0].store_key%></div>
<script>
  var totalprice=0;
  total=document.querySelector("#total");
  console.log(total.innerText);
  const itemlist=[];//menu_key 랑 count
$(".plusbtn").click(function(){
        
        const btn =event.target; //event.target 이벤트를 발생시킨 애
        const price =btn.parentNode.parentNode.querySelector(".price").innerText;
        
        totalprice+=Number(price);
       
        total.innerText=totalprice;
        const count=btn.parentNode.querySelector("input").value;
        
        btn.parentNode.querySelector("input").value=Number(count)+1;
        
        const menu_key=btn.parentNode.querySelector("div").textContent;
        var menu_name = btn.parentNode.parentNode.getElementsByTagName("td")[0].textContent;

        if (itemlist.length==0){
          const menu={
                menu_key:menu_key,
                count: 1,
                name: menu_name
              };
              itemlist.push(menu);

        }
        else{
          itemlist.forEach((item) => {
            if(item.menu_key==menu_key){

              item.count++;
            }
            else{
              const menu={
                menu_key:menu_key,
                count: 1,
                name: menu_name
              };
              itemlist.push(menu);
            }
          });
       }
        console.log("itemlist",itemlist)
})

$(".minusbtn").click(function(){
        
        const btn =event.target; //event.target 이벤트를 발생시킨 애
         const price =btn.parentNode.parentNode.querySelector(".price").innerText;
         totalprice-=Number(price);
         total.innerText=totalprice;
        const count=btn.parentNode.querySelector("input").value;
        
        btn.parentNode.querySelector("input").value=Number(count)-1;

        
        const menu_key=btn.parentNode.querySelector("div").textContent;
        
          itemlist.forEach((item) => {
            if(item.menu_key==menu_key){

              item.count--;
            }
            
          });
       
        console.log("itemlist",itemlist)
})

$("#buyBtn").click(function() {
      var priceData=total.innerText;
      var store_key=document.getElementById("store_key").textContent;
      var store_name =document.getElementById("store_name").textContent;
      var confirm_msg = store_name+"에서 ";

      for(var i=0;i<itemlist.length;i++) {
        confirm_msg += itemlist[i].name;
        confirm_msg += "(";
        confirm_msg += itemlist[i].count;
        confirm_msg += ")"
        if(i!=itemlist.length-1) confirm_msg += ","
      }

      confirm_msg += " 으로 구성된 기프티콘을 구매합니다.\n"+priceData+"원을 이체하시겠습니까?";
      var confirmflag = confirm(confirm_msg);
      const user_key=sessionStorage.getItem('user_key');
      
      if(confirmflag){
        $.ajax({
        url: "/payment",
        type: 'POST',
        data: {
          step : "buy",
          price : priceData,
          store_key : store_key,
          user_key : user_key,
          item_list : JSON.stringify(itemlist),
        },
        success: function(result) {
            window.location.href = '/payment';
            alert("결제완료");
        }
        
      });

      }else{
      }
    })

</script>

  </body>

  <script>
    $('#buy').click(function(){
      var price = 10000;
      var finUseNum = 'dsf';
      $.ajax({
                url:'/payment/withdraw',
            type : 'POST',
            headers : {
               'ourtoken' : sessionStorage.getItem('jwtToken')
            },
                data : {
               amount : price,
               fin_use_num : finUseNum
                },
                success:function(data){
                if(data == 1){
                   alert('결재완료')
                }
                else {
                  alert(data);
                }
                }
            })     
      });   
  </script>
</html>
